@font-face {
    font-family: 'Blox2';
    src: url('Blox2.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixel NES';
    src: url('Pixel NES.otf') format('opentype');
}


.hero {
    display:block;
    position:absolute;
    z-index:1;
    width:30px;
    height:30px;
}
.hero .body {
    display:block;
    width:100%;
    height:100%;
    background: url("hero.png");
}
.hero .gun {
    display:none;
    width:2px;
    height:10px;
    background-color:yellow;
    position:absolute;
    left:50%;
    margin-left:-1px;
    top:-5px;
}

.bullet {
    display:block;
    position:absolute;
    z-index:1;
    width:10px;
    height:10px;
    background: url("bullet.png");
    background-size: 100%;
}

#main-wrap {
    width: 800px;
    height: 450px;
    position: relative;
    overflow: hidden;
    background: url(zombiebg.png);
    border: solid 8px #D00707;
    margin: 20px auto;
    box-shadow: #ff0000 1px 1px 0px 1px;
}

body{
    background-color: #7e0000;
}

div#scoreboard {
    width: 800px;
    position: relative;
    overflow: hidden;
    /*box-shadow: #D00707 1px 2px 18px 6px;*/
    margin: 20px auto;
    color: #fff;
}

#scoreboard .left {
    float: left;
    width: 60%;
}

#scoreboard .right {
    float: right;
    width: 40%;
}

#scoreboard h2 {
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
    font-family: "Pixel NES";
    line-height: 68px;
    margin: 37px 0px;
    text-shadow: 3px 3px #ff0000;
}

.enemy {
    display:block;
    position:absolute;
    z-index:1;
    background: url("zombie.png");
    animation-name: example;
    animation-duration:4s;
    -webkit-animation-duration:4s;
}

.scores{
    font-family: "Pixel NES";
    text-shadow: 1px 2px #ff0000;
}

#splash{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("logo.png") #fff;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1000;
    left: 0;
    top: 0;
}

a.sound {
    font-family: "Pixel NES";
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    transition: all 1s;
}

a.sound.off{
    opacity: 0.3;
}